<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>CourtRouter#view</h1>
        <p>Find me in app/views/court_router/view.html.erb</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td>15区画 #1</td>
                <td>15区画 #2</td>
                <td>15区画 #3</td>
                <td>15区画 #4</td>
                <td>15区画 #5</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
              </tr>
              <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
